name: osc-sdk-python release build
on:
  workflow_dispatch:
    inputs:
      api_version:
        description: 'Outscale API version'
        required: true

jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
    - name: Set up Python
      run: uv python install
    - name: Initialize submodules
      run: make init
    - name: Build release
      run: .github/scripts/release-build.sh ${{ github.event.inputs.api_version }}
    - name: push release branch
      run: .github/scripts/release-push.sh
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: create pull request
      run: .github/scripts/release-pr.sh ${{ github.event.inputs.api_version }}
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
