name: Code check Local

on:
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  code-check:
    runs-on: ubuntu-24.04
    steps:
    - name: ⬇️ Checkout repository
      uses: actions/checkout@v5
    - name: Setup toolchain
      uses: ./.github/actions/setup-test
    - name: Run integration tests
      run: ./local-tests.sh
