name: Credential Scanner

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  cred-scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Scan credentials
      uses: outscale/cred-scan@main
      with:
        scan_path: "./"
