name: osc-sdk-python pip publishing

on:
  release:
    types: [released]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: publish
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Setup toolchain
      uses: ./.github/actions/setup-test
    - name: Build & Push packages
      run: make upload-package
