name: osc-sdk-python pip publishing

on:
  release:
    types: [released]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: publish
    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Set up Python
      run: uv python install
    - name: Check Code
      run: make test
    - name: Build & Push packages
      run: make upload-package
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
